<h1 style="text-align: center">Pop Up Gallery Page Using HTML/CSS/JAVASCRIPT Languages</h1>
<a routerLink="/body"><button class="nav navbar-right" style="margin-left: 10px;">Go Back</button></a>
<div class="banner">
<div class="container">

 <div class="row">
  
   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/2.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/3.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/4.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/5.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6 col-lg-6">
      <img src="/assets/image/6.png" class="img-responsive" alt="image">
   </div>
  
 </div>
</div>
</div>
<router-outlet></router-outlet>