<!-- toggable and dynamic tab pills -->

<div class="container">
  
  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#aboutme"><i class="fa fa-user fa"></i> ABOUT ME</a></li>
    <li><a data-toggle="tab" href="#resume"><i class="fa fa-file-text fa"></i> RESUME</a></li>
    <li><a data-toggle="tab" href="#portfolio"><i class="fa fa-file-image-o fa"></i> PORTFOLIO</a></li>
    <li><a data-toggle="tab" href="#contact"><i class="fa fa-address-card fa"></i> CONTACT</a></li>
    <li class="nav navbar-right"><div class="btn btn-info" style="margin-right: 20px;"><a routerLink="/welcome">Welcome</a></div></li>
  </ul>     
  <!-- end tab list -->

   <div class="tab-content g">
    <div id="aboutme" class="tab-pane fade in active">
        <div class="row">
          <div class="col-md-2 g2">
            
            <img src="http://1.bp.blogspot.com/-XuU2K5xxSSU/TpAxJiPca1I/AAAAAAAAAf8/fs6U1X1R06w/s1600/attitude_girl.jpg_320_320_0_9223372036854775000_0_1_0.jpg" class="img-responsive">  
          </div>

          <div class="col-md-6 info">
            <h1 style="font-size: 50px;">Renuka Amujuru</h1>
            <h2 style="color: gray">Web Developer/Front End Developer</h2><br>
            <h4>Iam a Fresher and I Love To Develop Responsive  Web sites And Web Applications,
               Creating Templates Using HTML,CSS,JAVASCRIPT,BOOTSTRAP,
               ANGULAR,TYPESCRIPT And Using Animations To The Templates.  </h4>
          </div>


          <div class="col-md-2 g1">
            <div class="main-links sidebar">
              <ul style="list-style: none;">
                <li ><a href="#resume" style="color: red;">View My Resume</a></li><hr>
                 <li><a href="#portfolio" style="color: red;">My PortFolio</a></li><hr>
                  <li><a href="#contact" style="color: red;">Contact</a></li><hr>
                   <li><a href="#projects" style="color: red;">My Projects</a></li><hr>

              </ul>
            </div>
          </div>
        </div>
<div class="row" style="margin-left: 10px;margin-right: 10px;">
  <div class="col-md-4 box">
     <h3 style="color: darkred"><i class="fa fa-envelope fa"></i> <a href="#" style="color: darkred" >Renukaamujuru@gmail.com</a></h3>
     <h5>Email Address</h5>

  </div>
   <div class="col-md-4 box">
      <h3 style="color: darkred"><i class="fa fa-linkedin fa"></i> <a href="#" style="color: darkred">Renukaamujuru@gmail.com</a></h3>
     <h5>LinkedIn Address</h5>
   </div>
     <div class="col-md-4 box">
      <h3 style="color: darkred"><i class="fa fa-envelope fa"></i> <a href="#" style="color: darkred">Renukaamujuru@gmail.com</a></h3>
     <h5>naukari website Address</h5>
   </div>
   
</div>

    </div>
<!-- <about me closed> -->


    <div id="resume" class="tab-pane fade" >
      <div class="row" style="margin-left: 10px">  
            
          <div class="col-md-6 box1">
            <h1><i class="fa fa-book fa"></i> Education</h1>
            <br>
            <dl >
            <dt><span class="dl">Bachelor of Technology [B.Tech]</span><span class=" nav navbar-right" style="background-color: green;text-align: center;width: 10%;border-radius: 8px;">2013-2017</span></dt>           
            <br><dd>Computer Science And Engineering In Institute Of Aditya Institute Of Technology And Management 
              Under JNTU-Kakinada University With 7.71 (CGPA).</dd>
            </dl>
          <br>
          <hr>
          <br>
           <dl  >
            <dt ><span class="dl">Intermediate[M.P.C]</span><span class=" nav navbar-right" style="background-color: green;text-align: center;width: 10%;border-radius: 8px;">2011-2013</span></dt>           
            <br><dd>Sri Chaitanya Junior College Under Board Of Intermediate Education,Andhra Pradesh with 90.3(Percentage).</dd>
            </dl>
           <br>
          <hr>
          <br>
           <dl >
            <dt ><span class="dl">Secondary School Certificate</span><span class=" nav navbar-right" style="background-color: green;text-align: center;width: 12%;border-radius:8px;">2010-2011</span></dt>           
            <br><dd>R.C.M Loyola English Medium School Under Secondary School Certificate,Andhra Pradesh with 88.83(Percentage).</dd>
            </dl>


            <br><hr><hr><br>
            <h1><i class="fa fa-certificate fa"></i> Workshops/Co-curricular Activities</h1>
            <br>
          <dl>
            <br>
             <dt class=" work"><i class="fa fa-user fa"></i> Training In User Interface Development in "Digital Lync Technologies Private Limited Company's Institute",Khajaguda,Hyderabad</dt>
             <br><br>
             <dt class=" work"><i class="fa fa-certificate fa"></i> Participated In "Internet Of Things" workshop Conducted In Aditya Institute Of Technology And management.</dt>
             <br><br>
             <dt class=" work"><i class="fa fa-certificate fa"></i> Certificate Of participation For Completing Industry internship On "Enterprise Cloud" At GIT Solutions,Vishakapatnam.</dt>
             <br><br>
          </dl>
           <br><hr><hr><br>
           <h1><i class="fa fa-tasks fa"></i> Project Details </h1>
           <br>
           <h3 style="color: darkgreen"><i class="fa fa-star-half fa"></i> Project Title:Digital Image Water Marking For CopyRight Protection</h3>
           <h3>Programming Language:Java</h3>
           <br>
            <h4>Description:-</h4>
            <p>Now a days, the issue of protecting copyrights of digital contents has become very much critical owing to shift growth of internet.
              The basic idea of watermarking is to embed some secret information into the host media such as image,
              audio,video. the proposed watermarking scheme embeds a gray watermark image invisibly into a host image for protecting
              its copyrights. For every 2*2 block of the host image, a watemark bit is embeded usin the proposed appreoach.
            </p>
            <br><hr><br>
            <h2 style="color: darkgreen"><i class="fa fa-star-half fa"></i> StartUp Template</h2>
             <h3>Programming Languages:HTML,CSS,JAVASCRIPT</h3> 
             <h4>Description:-</h4>
             <p>This website consist of spoof details of company like about the team, the work of the company and their projects and contact info,skills and pricing.</p>
        
</div>
          <div class="col-md-4 s">
            <h1><i class="fa fa-trophy fa"></i> Skills</h1>
            <!-- progress bars -->
            <br>
            <h3><i class="fa fa-laptop fa"></i> Software</h3>
            <br>
       

              <h4>Microsoft Office</h4>
              <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progress-bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                
              </div>
              </div>

              <h4>Sublime Text 2</h4>
              <div class="progress">
               <div class="progress-bar progress-bar-success progress-bar-striped" role="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                
              </div>
               </div>
                <h4>Visual Studio Code</h4>
                <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progress-bar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                
              </div>
                </div>
                 <h4>Eclipse</h4>
                 <div class="progress">
                 <div class="progress-bar progress-bar-info progress-bar-striped" role="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                
              </div>
                 </div>
                  <h4>Photoshop</h4>
                  <div class="progress">
                  <div class="progress-bar progress-bar-red progress-bar-striped" role="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                
              </div></div>
                  <h4>Turbo C</h4>
                  <div class="progress">
                   <div class="progress-bar progress-bar-warning progress-bar-striped" role="progress-bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                
                   </div>
                   </div>
            <hr><br>
            <h3><i class="fa fa-rocket fa"></i> Design</h3>
            <br>
            <h4>Web Sites</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" style="width:75%">
              </div>
            </div>

            <h4>Web Applications</h4>
             <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" style="width:60%">
              </div>
            </div>

              <hr><br>

              <h3><i class="fa fa-language fa"></i> Programming Languages</h3>
              <br>
              <h4>HTML/CSS</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" style="width:75%">
              </div>
            </div>

            <h4>BOOTSTRAP</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" style="width:60%">
              </div>
            </div>

            <h4>JAVASCRIPT</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" style="width:60%">
              </div>
            </div>

            <h4>TYPESCRIPT</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" style="width:50%">
              </div>
            </div>

            <h4>ANGULAR</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" style="width:70%">
              </div>
            </div>

            <h4>C programming</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" style="width:60%">
              </div>
            </div>
            <h4>Core Java</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" style="width:50%">
              </div>
            </div>

            <br><hr><br>

              <h3><i class="fa fa-globe fa"></i> Communication Languages</h3>
              <br>
              <h4>ENGLISH</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" style="width:75%">
              </div>
            </div>

            <h4>HINDI</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" style="width:70%">
              </div>
            </div>

            <h4>TELUGU</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" style="width:80%">
              </div>
            </div>

          </div>
        </div>
    </div>







    <!-- <resume closed> -->





    <div id="portfolio" class="tab-pane fade">
        <div class="jumbotron">
          <div class="container text-center bg-3">
              <h1>My PortFolio</h1><br>
              <h4>Some Of my Work</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col" >
            <a routerLink="/photos"><img src="/assets/image/2.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">  StartUp Template</h3>
          </div>
          <div class="col-md-2 col">
            <a routerLink="/photos1"><img src="/assets/image/11.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">PopUp Gallery Page</h3>
          </div>
          <div class="col-md-2 col">
             <a routerLink="/photos2"><img src="/assets/image/21.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">Flags Hover Page</h3>
          </div>
          <div class="col-md-2 col">
             <a routerLink="/photos3"><img src="/assets/image/31.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">Vagdevi Template</h3>
          </div>
          <div class="col-md-2 col">
            <a routerLink="/photos4"><img src="/assets/image/41.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">Digital Lync website</h3>
          </div>
          <div class="col-md-2 col">
            <a routerLink="/photos5"><img src="/assets/image/51.png" class="img-responsive" style="width: 100%" alt="image"></a>
            <h3 style="text-align: center">Resume Template Website</h3>
          </div>
         
        </div>
    </div>
<!-- portfolio closed -->







    <div id="contact" class="tab-pane fade" style="border:inset;text-align: center;margin: 40px 20px 30px 20px;">
      <div class="row">
        <div class="col-md-4" >
          <h1><i class="fa fa-globe fa"></i></h1>
          <h1>My Address</h1>
          <h4>Sri pravaliika women's hostel,Gachibowli,Hyderabad,500032.</h4>
        </div>
        <div class="col-md-4"  style="border-left: 1px solid lightgray;">
          <h1><i class="fa fa-phone fa"></i></h1>
          <h1>My Mobile Number</h1>
          <h4>91+9177330503</h4>
        </div>
        <div class="col-md-4" style="border-left: 1px solid lightgray;">
          <h1><i class="fa fa-user fa"></i></h1>
          <h1>About Me</h1>
          I love to work and have ability to build positive attitudewith good communication and interactive skills.
        </div>
      </div>
    </div>
<!-- contact closed -->
    </div> 
</div>

 <router-outlet></router-outlet>