<h1 style="text-align: center">Flags Hover Page Using HTML/CSS/JAVASCRIPT Languages</h1>
<a routerLink="/body"><button class="nav navbar-right" style="margin-left: 10px;">Go Back</button></a>
<div class="banner">
<div class="container">

 <div class="row">
  
   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/21.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/22.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/23.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/24.png" class="img-responsive" alt="image">
   </div>
    
  
 </div>
</div>
</div>
<router-outlet></router-outlet>