
<h1 style="text-align: center">Digital Lync Single Page Web Application Using Bootstrap,Angular Connected to Backend Database Using Backend Lync</h1>
<a routerLink="/body"><button class="nav navbar-right" style="margin-left: 10px;">Go Back</button></a>
<div class="banner">
<div class="container">

 <div class="row">
  
   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/41.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/42.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/43.png" class="img-responsive" alt="image">
   </div>

   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/44.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/45.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/46.png" class="img-responsive" alt="image">
   </div>

   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/47.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/48.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/49.png" class="img-responsive" alt="image">
   </div>
     
  
 </div>
</div>
</div>
<router-outlet></router-outlet>