
<h1 style="text-align: center">Resume Template Website Using Angular Framework,Routing,Bootstrap</h1>
<div class="banner">
<div class="container">

 <div class="row">
  
   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/51.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/52.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/53.png" class="img-responsive" alt="image">
   </div>

   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/54.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/55.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/56.png" class="img-responsive" alt="image">
   </div>

   <div class="col-md-3 col-sm-6 col-lg-6" >
      <img src="/assets/image/57.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/58.png" class="img-responsive" alt="image">
   </div>
     <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/59.png" class="img-responsive" alt="image">
   </div>
      <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/510.png" class="img-responsive" alt="image">
   </div>
      <div class="col-md-3 col-sm-6  col-lg-6">
      <img src="/assets/image/511.png" class="img-responsive" alt="image">
   </div>
     
  
 </div>
</div>
</div>
<router-outlet></router-outlet>